{
    "institution_name": "{{{INST_NAME}}}",
    "start_year": {{{START_YEAR}}},
    "location_type": "{{{LOC_TYPE}}}",
    "location_name": "{{{LOC_NAME}}}",
    "first_name": "{{{FIRST_NAME}}}",
    "last_name": "{{{LAST_NAME}}}",
    "coordinates":
    [
    	{{{LON}}},
    	{{{LAT}}}
    ]
}
