{
    "person_id": {{{PID}}},
    "institution_name": "{{{INST_NAME}}}",
    "start_year": {{{START_YEAR}}},
    "location_type": "{{{LOC_TYPE}}}",
    "location_name": "{{{LOC_NAME}}}",
    "coordinates":
    [
    	{{{LAT}}},
    	{{{LON}}}
    ]
}
