{
	"type": "Feature",
	"geometry":
	{
		"type": "Point",
		"coordinates":
		[
			{{{LAT}}},
			{{{LON}}}
		]
	},
	"properties":
	{
		"person_id": {{{PID}}},
		"participation":
		{
			"institution_name": "{{{INST_NAME}}}",
			"start_year": {{{START_YEAR}}}
		},
		"geo":
		{
			"location_type": "{{{LOC_TYPE}}}",
			"location_name": "{{{LOC_NAME}}}"
		}
	}
}

